@charset "UTF-8";

body{
font-family: Arial, Helvetica, sans-serif;    
}
div > p{
    display: none;
}
div:hover > p{
display: block;
font-family: Arial, Helvetica, sans-serif;
color: purple;
background-color: springgreen;
height: 40px;
width: 200px;
border-right: violet;
text-align: center;
}

div:hover{
color: mediumslateblue;

}