@charset "UTF-8";
*{
font-family:Arial, Helvetica, sans-serif;
}

body{
 
   background-image: linear-gradient(to right,#191E5C,#1E2570);


}

main{

background-color: white;
border-radius: 20px;
box-shadow: 5px 5px 15px black;
width: 600px;
padding: 10px;
margin: auto;

}
h1{
color:#4553FF ;
text-align: center;
text-shadow: 1px 1px 2px rgba(30, 143, 255, 0.959);

}
h2{
color:#0a23b1 ;


}
p{
    text-align: justify;
}
 
